# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/storehub_db?schema=public

# Authentication & JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Resend Email Integration
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev
CLIENT_URL=https://store-rating-platform-black.vercel.app
